
body{
  font-family: monospace;
}

.HeaderNav{
  font-weight: 400;
  font-size: 1.5rem;
}

.Time-container{
    border-radius: 17px;
    display: flex;
    justify-content: space-evenly;
    height: 148px;
    background: white;
    box-shadow: -1px 1px 17px 5px #baafaf;    
    align-items: center;
    font-size: 25px;
    font-style: italic;
    margin:20px;

}
.Time-list-container{
  display: flex;
  margin:20px;
}
